.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form {
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 800px; /* Make the form wider */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between form elements */
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.form label {
  font-weight: bold;
  font-size: 1.1em;
  color: #eee;
  margin-bottom: -10px; /* Pull it closer to the input */
}

.form input,
.form select {
  width: 100%;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: white;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.listItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listItem input[name="itemName"] {
  flex: 2; /* Give more space to the item name */
}

.listItem input[name="imageUrl"] {
  flex: 3; /* And the image URL */
}

.removeButton, .addButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.2s, transform 0.2s;
}

.removeButton {
  background-color: var(--danger);
  color: white;
}

.addButton {
  background-color: #28a745; /* A nice green for adding */
  color: white;
  align-self: flex-start; /* Align to the left */
}

.submitButton {
  margin-top: 20px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: var(--primary);
}