/* src/components/RankForm/RankForm.module.css */

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--card-background);
  padding: 21px 21px 28px 21px;
  border: 1px solid var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.container h1 {
  text-align: center;
  margin-bottom: 21px;
}

.container label {
  font-weight: 600;
  margin-bottom: 7px;
  color: var(--accent);
}

.container form input,
.container form textarea {
  width: 100%;
  padding: 14px;
  color: white;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 21px;
  border: 1px solid var(--border);
  background-color: var(--background);
}

.container form textarea {
  min-height: 120px;
}

.container form button {
  color: white;
  padding: 14px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 14px;
  background: var(--primary);
  border: 1px solid var(--border);
}

.container input:focus,
.container textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}
