.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: var(--card-background);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.welcomeContainer h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
}

.welcomeContainer p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center
}

.createButton {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.createButton:hover {
  background-color: var(--primary);
  transform: scale(1.05);
}