.commentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.commentTextarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: white;
  resize: vertical;
}

.submitButton {
  align-self: flex-end;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: var(--accent);
  color: var(--background);
}