/* src/components/NavBar/NavBar.module.css */

.container {
  left: 0;
  top: 0;
  z-index: 1;
  width: 240px;
  height: 100%;
  display: flex;
  position: fixed;
  padding: 28px 21px;
  align-items: flex-start;
  background: var(--card-background);
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.container img {
  width: 50px;
  margin-bottom: 28px;
}

.container ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: flex-start;
  flex-direction: column;
}

.container li {
  padding: 14px 0;
  text-align: left;
}

.container a {
  color: var(--accent);
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }

  .container li {
    font-size: 15px;
  }
}
