/* src/components/NavBar/NavBar.module.css */

.container {
  left: 0;
  top: 0;
  z-index: 1;
  width: 240px;
  height: 100%;
  display: flex;
  position: fixed;
  padding: 28px 21px;
  align-items: flex-start;
  background: var(--background);
  flex-direction: column;
  border-right: 1px solid var(--border);
}

@keyframes gradient-animation-vertical {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.container img {
  width: 210px;
  margin-bottom: 28px;
  align-self: center;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.container img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.container ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: flex-start;
  flex-direction: column;
}

.container li {
  padding: 14px 0;
  text-align: left;
}

.container a {
  color: var(--accent);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }

  .container li {
    font-size: 15px;
  }
}
