.app-main-content {
  padding-top: 60px; 
  padding-left: 240px; 
  transition: padding-left 0.3s ease-in-out;
  height: calc(100vh - 60px); 
  overflow-y: auto; 
}

.app-main-content.nav-closed {
  padding-left: 0;
}

@media (max-width: 768px) {
  .app-main-content {
    padding-left: 0 !important; 
  }
}