.app-main-content {
  padding-top: 60px; /* Space for the fixed header */
  padding-left: 240px; /* Space for the open navbar */
  transition: padding-left 0.3s ease-in-out;
  height: 100vh;
}

.app-main-content.nav-closed {
  padding-left: 0;
}