/* src/index.css */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;

  --primary: #61dafb;
  --accent: #ffc107;
  --danger: #dc3545;
  --background: #282c34;
  --card-background: #3a3f4b;
  --border: #20232a;
}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-left: 240px;
}

article img {
  width: 80px;
}

h1,
h3 {
  color: var(--primary);
  margin: 7px 0px 14px 0px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

p {
  margin: 0;
  color: #ccc;
  width: 100%;
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
}

a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--card-background);
  padding: 21px 21px 28px 21px;
  border: 1px solid var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

button,
a {
  cursor: pointer;
}
